@import '@/styles/variables.scss';

.info-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  transition: opacity $transition-normal;

  &:hover {
    opacity: 0.8;
  }

  &__circle {
    width: 44px;
    height: 41px;
    border: $button-border-width solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
}
