.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__viewport {
  width: 1080px;
  height: 1920px;
  position: relative;
  flex: 0 0 auto;
  transform-origin: center center;
}
